# Problem Set 2

###  Question 1

In [1]:
a =0 

def b():
    global a 
    a = c(a)

def c(a):
    return a+2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

The final value displayed is 6.
First when b() method is called for the first time. Inside b(), the global variable a is accessed via the used of the global prefix. Next the global a is passed as a parameter for the c(). Inside the c() method, 2 is added to the global variable a. Therefore the value of a becomes 2. 

Next then again when the b() method for the second time, the global variable a is accessed again and then passed onto the method c(). Yet again, inside method c(), 2 is added to the global variable therefore the value of a becomes 4. 

Finally when the b() method is called for the final time, the inital value of a is 4. This value is accessed inside method b() and passed onto the method c() wherer is returns a values which has 2 added to the value of a which is passed to it. Therefore, finally the value of a is 6 when is called to be displayed.

### Question 2 

In the following question, a try and except block was used to catch the error thrown which is an OS Error when a file is not found.

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except OSError as e:
        print(f'File {file_name} not found.')

In [7]:
file_length('midterm.py')

33

In [8]:
file_length('dterm.py')

File dterm.py not found.

### Question 3

In [9]:
class Marsupial():
    def __init__(self):
        self.contents = []
    
    def put_in_pouch(self,item):
        self.contents.append(item);
    
    def pouch_contents(self):
        print(self.contents)

In [10]:
m = Marsupial()

In [11]:
m.put_in_pouch('doll')

In [12]:
m.put_in_pouch('firetruck')

In [13]:
m.put_in_pouch('kitten')

In [14]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [15]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return (f"I am a Kangaroo located at coordinates ({self.x},{self.y})")

In [16]:
k = Kangaroo(0,0)

In [17]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4

In [20]:
def collatz(n):
    list1 = [n]
    if n == 1 :
        return [1]                 
    elif n % 2 == 0 :
         
        list1.extend(collatz(n//2))     
    else:
        list1.extend(collatz(n*3+1))    
    return list1

In [21]:
collatz(1)

[1]

In [22]:
collatz(10)

[10, 5, 16, 8, 4, 2, 1]

### Question 5

In [23]:
def binary(number):
    if number > 1:
        binary(number//2)
    print(number % 2,end = '')

In [24]:
binary(0)

0

In [25]:
binary(1)

1

In [26]:
binary(3)

11

In [27]:
binary(9)

1001

### Question 6

In [28]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.flagcheck = False
        self.tab_value = ""

    def handle_starttag(self, tag, attrs):
        if tag in('h1'):
            self.flagcheck = True
        elif tag in ('h2'):
            self.flagcheck = True
            self.tab_value += "\t"

    def handle_endtag(self, tag):
        if tag in('h1','h2'):
            self.flagcheck = False

    def handle_data(self, data):
        if self.flagcheck:
            print(self.tab_value + data)

In [29]:
infile = open('w3c.html')
content = infile.read()
infile.close()

In [30]:
hp = HeadingParser()

In [31]:
hp.feed(content)

W3C Mission
	Principles

### Question 7 

Collector code used from the lecture 6: notebook

References : https://stackoverflow.com/questions/38219057/python-how-to-make-an-exception-for-non-positive-numbers

In [32]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

def allLinks(url):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

visited = set()
deep = None
indentation = None

def displayUrl(url,currentDepth):
    padding = len(url) + (currentDepth*indentation)
    string = url.rjust(padding," ")
    print(string)

def crawl(url,currentDepth):
    global deep

    #base condition
    if(currentDepth>deep): return
    
    displayUrl(url,currentDepth)

    # global visited
    
    # if url not in visited: 
    #     visited.add(url)

    links = allLinks(url)

    for link in links:
        try:
            crawl(link,currentDepth+1)
        except:
            pass


def webdir(url,depth,indent):
    if(depth<0 or indent<0):
        raise ValueError('Depth and Indentation cannot be negative')
    
    if not (isinstance(depth, int) and isinstance(indent, int)): 
        raise ValueError('Depth and Indentation should be non negative integers')
    
    global deep, indentation
    deep = depth
    indentation = indent

    crawl(url, 0)

In [33]:
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html',2,1)

https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 https://reed.cs.depaul.edu/lperkovic/test3.html
  https://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8

In [34]:
import sqlite3
con = sqlite3.connect('WeatherDataTable2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather_Data_Table2 (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather_Data_Table2 VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

**Part A**

In [35]:
cur.execute('SELECT Temperature FROM Weather_Data_Table2;')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

**Part B**

In [36]:
cur.execute('SELECT DISTINCT City FROM Weather_Data_Table2;')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

**Part C**

In [37]:
cur.execute("SELECT * FROM Weather_Data_Table2 WHERE Country= 'India';")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

**Part D**

In [38]:
cur.execute("SELECT * FROM Weather_Data_Table2 WHERE Season = 'Fall';")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

**Part E**

In [39]:
cur.execute("SELECT City,Country,Season FROM Weather_Data_Table2 GROUP BY City,Country,Season HAVING AVG(Rainfall) BETWEEN 200 AND 400 ;")
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

**Part F**

In [40]:
cur.execute("SELECT City,Country FROM Weather_Data_Table2 WHERE Season = 'Fall' GROUP BY City,Country HAVING (AVG(Rainfall) > 20) ORDER BY Temperature ASC;")
cur.fetchall()

[('London', 'United Kingdom'), ('Mumbai', 'India')]

**Part G**

In [41]:
cur.execute("SELECT SUM(Rainfall) FROM Weather_Data_Table2 WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

**Part H**

In [42]:
cur.execute("SELECT SUM(Rainfall) FROM Weather_Data_Table2 GROUP BY Season;")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [43]:
cur.close()

### Question 9

https://www.programiz.com/python-programming/list-comprehension

In [44]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Reference - https://stackoverflow.com/questions/1801668/convert-a-list-with-strings-all-to-lowercase-or-uppercase

In [45]:
## Part a 
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [46]:
## Part b 
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [47]:
## Part c
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [50]:
##Part d

list1 = [[word.upper(), word.lower(), len(word)] for word in words]
list1

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [49]:
##Part e 
[word for word in words if len(word) >=4]

['quick', 'brown', 'jumps', 'over', 'lazy']